<!DOCTYPE html>
<html lang="es">
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <title>Restablecer contraseña</title>
        <style type="text/css">
            body {
                font-family: "Open Sans", sans-serif;
            }
            a[href]{
                color: white !important;
            }

            a:hover {
                text-decoration: none !important;
            }
            .btn {
                background: #326BFF;
                text-decoration: none !important;
                font-weight: 800;
                margin-top: 35px;
                margin-bottom: 35px;
                color: #fff !important;
                text-transform: uppercase;
                font-size: 14px;
                padding: 10px 24px;
                display: inline-block;
                border-radius: 50px;
                letter-spacing: 2px;
            }
            .text{
                color: #455056;
                font-size: 15px;
                line-height: 24px;
                margin: 0;
                text-align: left;
            }
        </style>
    </head>

    <body style="margin: 0px; background-color: #f2f3f8">
        <table style="width: 100%">
            <tr>
                <td>
                    <table
                        style="
                            background-color: #f2f3f8;
                            max-width: 670px;
                            margin: 0 auto;
                            width: 100%;
                        "
                    >
                        <tr>
                            <td style="height: 80px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                               
                            </td>
                        </tr>
                        <tr>
                            <td style="height: 20px">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <table
                                    style="
                                        max-width: 800px;
                                        background: #fff;
                                        border-radius: 3px;
                                        text-align: center;
                                        -webkit-box-shadow: 0 6px 18px 0
                                            rgba(0, 0, 0, 0.06);
                                        -moz-box-shadow: 0 6px 18px 0
                                            rgba(0, 0, 0, 0.06);
                                        box-shadow: 0 6px 18px 0
                                            rgba(0, 0, 0, 0.06);
                                    "
                                >
                                    <tr>
                                        <td style="height: 40px">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0 35px">
                                            <h1>¿Olvidaste tu contraseña?</h1>
                                            <span
                                                style="
                                                    display: inline-block;
                                                    vertical-align: middle;
                                                    margin: 10px 0 26px;
                                                    border-bottom: 1px solid
                                                        #cecece;
                                                    width: 100px;
                                                "
                                            ></span>
                                            <p
                                               class="text"
                                            >
                                                Hola {{user.first_name}},
                                            </p>
                                            <p
                                                class="text"
                                            >
                                            Recibimos una solicitud de modificación de contraseña para el «Sistema Nombre-del-Sistema» asociada a tu correo {{user.email}}. Para avanzar con la modificación, hacé click en el botón de abajo:
                                            </p>
                                            <a
                                                href="{{url}}"
                                                class="btn"
                                                target="_blank"
                                                >Restablecer contraseña</a
                                            >
                                        </td>
                                        <tr>
                                            <td style="height: 20px">&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="padding: 0 35px">
                                                <span
                                                style="
                                                    display: inline-block;
                                                    vertical-align: middle;
                                                    margin: 10px 0 26px;
                                                    border-bottom: 1px solid
                                                        #cecece;
                                                    width: 100px;
                                                "
                                            ></span>
                                            <p
                                                class="text"
                                            >
                                            Tenés <strong>24 horas</strong> para efectuar esta modificación, pasado este tiempo deberías realizar una nueva solicitud.
                                            </p>
                                            <p class="text">
                                                Si no solicitaste un cambio de contraseña, ignorá este correo.
                                            </p>
                                            </td>
                                            
                                            <tr>
                                                <td style="height: 20px">&nbsp;</td>
                                            </tr>
                                            <tr>
                                               <td style="padding: 0 35px">
                                                <p class="text">
                                                    &#8212;	<em>El equipo Nombre-de-Equipo
                                                    </em>
                                                </p>
                                               </td> 
                                            </tr>
                                        </tr>
                                    </tr>
                                    <tr>
                                        <td style="height: 40px">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: center">
                                <img width="800" alt="Logo" title="Logo" src="https://koicapi.girolabs.com.py/static/logo-koica-footer.png"
                                />
                            </td>
                        </tr>
                        
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
